/* ----- ------------------------------ ----- */
/* ----- setting global tags and styles ----- */
/* ----- common to the entire page      ----- */
/* ----- ------------------------------ ----- */

:root {
    /*color palette /
    - default: 
    --black: (0, 0, 0);
    --white: (255, 255, 255);
    /*color palette WebStudio-blue 
    (palette-black, palette-grey, blue, white
    --palette-black: (33, 33, 33,1);
    --palette-
    --palette-dark-grey: ;
    */
    /*palette default; */
    --default-c-black: black;
    --default-c-white: white;
    --default-c-grey: rgb(128, 128, 128);
    --default-c-red: rgb(255, 0, 0);
    

    /*pallet brand-blue */
    --theme-c-1st-black: rgb(33, 33, 33);
    --theme-c-2nd-black: rgb(47, 48, 58);
    --theme-c-1st-white: ;
    --theme-c-2st-white: ;





    /*page colors
    --1st-main-color: var(--palet
    --2nd-main-color:
    --3rd-main-color: */

    
    --main-color-black : rgb(33, 33, 33,1);
 
    --second-color-dark-grey: rgb(117, 117, 117);
    --second-color-dark-grey-05: rgba(117, 117, 117, 0.5); /*a moze opacity 0.5*/
    --main-color-on-dark-bg-white: rgba(255, 255, 255, 1);
    --second-color-dark-bg-white-06a: rgba(255, 255, 255, 0.6);
    --second-color-on-dark-bg-white-a03: rgba(255, 255, 255, 0.3);
    --svg-color-lgrey: rgb(174, 176, 183);

    --border-color-white1: rgb(238, 238, 238);
    --border-color-white2: rgb(236, 236, 236);
    --border-color-black-02: rgba(33, 33, 33, 0.2);

    /* brand color is blue rgb(33, 150, 243), used to: hovered links, button, */
    --brand-color-blue: rgb(33, 150, 243);
    --brand-color-blue-a09: rgba(33, 150, 243, 0.9);
    
    --logotype-dark-theme: black;
    --logotype-light-theme: white;
    
    /*background & shadow colors*/
    --main-bg-color-white: rgb(255, 255, 255);
    --second-bg-color-white: rgb(245, 244, 250);

    --dark-bg-color-black1: rgb(47, 48, 58);
    --dark-bg-color-black08: rgba(47, 48, 58, 0.8);
    
    --svg-bg-color-black01: rgba(255, 255, 255, 0.1);
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color-black);   
    background-color: var(--main-bg-color-white);      
}

/* ----- ------------------------------ ----- */
/* ----- html tags reset - properties: ul, h  ----- */
ul,
li {
    margin-block: 0px;
    padding-inline-start: 0p;
    margin: 0px;
    }
ul,
h1,
h2,
h3,
h4,
p { margin: 0px; }

.list-style {list-style-type: none;}

/* ----- ---------------------------  ----- */
/* ----- (BEM) Global blocks  ----- */
/* ----- ----- section  ----- ----- */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--1st-main-bg-color);
} 
.section__bg-img {
    width: auto;
    height: 600px;
    background-position: center;
        
    background-color: var(--dark-bg-color-black1);
    background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.4)), 
    url(../images/heder-banner-opt-people-teams-at-work-.jpg);
    
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 
 }

.section--bottom-padding-short {
    padding-bottom: 0px;
}

.section--bg-light-theme{
    margin-left: auto;
    margin-right: auto;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size:cover;
    background-position-x: center;

    background-color: var(--second-bg-color-white);
}

.section__header {
    text-align: center;
    
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    /*background-color: aquamarine;*/
}

/* ----- --------------------- ----- */
/* ----- ----- container ----- ----- */
.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}


/* ----- ------------------- ----- *
/* ----- BLOCK layout grid ----- */
.l-grid{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;  
    gap: 30px 30px;
    list-style-type: none
}

.l-grid__page-header{
    height: 80px;
}
.l-grid--wrap {
    flex-wrap: wrap; 
    flex-basis: calc((100% - 60px)/3);
}

.l-grid--direction-column {
    height: 600px;
    flex-direction: column;
}

.grid--flex-start{
    align-content: flex-start;
}


.l-grid__buttons {
    gap: 0px 8px;
    height: auto;
    margin-bottom: 50px;
}

.link {
    text-decoration: none;
    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:active,
.link:focus {color: var(--brand-color-blue);
}

/* ------ Block TRANSITION - 
trnasition-property określane w klasach */
.transition{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----- ------------------------------ ----- */
/* ----- Logo WebStudio - ready to use
/* ----- logotype styles: on light & dark background
/* ----- ------------------------------ ----- */
.logo { 
    display: inline-block;  
}
.logo__logotype{
    text-decoration: none;
    font-family: Raleway, Oleo Script, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo__logotype--brand-color {color: var(--brand-color-blue);}
.logo__logotype--dark-theme {color: var(--logotype-dark-theme);}
.logo__logotype--light-theme {color: var(--logotype-light-theme);}


/* ----- ------------------------------ ----- */
/* ----- ----- Specific styles ----- ----- */
/* ----- ------------------------------ ----- */
/* ----- ----- PAGE HEADER - MENU ----- ----- */
/* ----- zostaje ta nazwa ponieważ później używamy nazwy header, page-header jest specyficzny dla tej strony. ALE rozbijamy na ele strukturalne section ------------------------------ ----- */
.page-header{
    background-color:var(--main-bg-color-white);
    border-bottom: 1px solid var(--border-color-white2);
}

.page-header__logo {
    margin-right: 63px;  
}

.page-header__nav {
    flex: 1;  
}

.nav__text{
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-color-black)
}
.nav{
    display: flex;   
    gap: 40px;
}

.nav__link {
    color: var(--main-color-black); 
    margin: 0px 3px;
}

.link--active::after {
    display: block;
    margin-left: auto;
    margin-right: auto;
    content: "";
    width: 58px;
    min-height: 4px;
    border-radius: 10px;
    background-color: var(--brand-color-blue);
    margin-top: 28px;
    position: absolute;

    animation-name: updownLine;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

  }
  
@keyframes updownLine {
    0% {
        margin-top: 28px;
        width: 58px

        }
    50% {
        margin-top: 2px;
        width: 62px
        
        }
    100% {
        margin-top: 28px;
        width: 58px
    }
    }


/* ----- -------------------------------------------- */
/* ----- 3rd page header item - contact link ----- ----- */

.contact {
    display: flex;
    padding: 0px 10px;  
}
.contact__display {
    display: flex;
    justify-content: center;
    gap: 30px;  
}

.contact__item {
    display: inline-flex;
    justify-content: center;   
    text-decoration: none;
    cursor: pointer;    
    color: var(--second-color-dark-grey);
    fill: var(--second-color-dark-grey);

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.contact__text{
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}
.contact__icon-mail {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;

    fill: inherit; 
    /*var(--second-color-dark-grey);*/
}
.contact__icon-tel {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 7px;

    fill: inherit;
    /*var(--second-color-dark-grey);*/
}
.contact__item:hover,
.contact__item:focus,
.contact__icon-mail:hover,
.contact__icon-mail:focus,
.contact__icon-tel:hover,
.contact__icon-tel:focus {
    color: var(--brand-color-blue);
    fill:var(--brand-color-blue);
}

/* ----- ------------------------------ ----- */
/* ----- Section footer styles: dark background, theme light, ----- */
/* ----- ------------------------------ ----- */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: var(--dark-bg-color-black1);
}

.l-grid__footer {
    gap: 0px 70px;
    align-content: flex-start;      
}
.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 20px; 
}

/* ----- 1st footer item - logo + address box ----- */

.address--color { color: var(--second-color-dark-bg-white-06a);}

.address {
    text-decoration: none;
    height: 81px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
       
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: var(--main-color-on-dark-bg-white); 
}

/* ----- 2nd footer item - label + social media icons list  --*/

.footer__label{
    margin-top: 12px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14)px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-color-on-dark-bg-white);
}
/* to są buttony*/ 

.footer__icons {
    list-style-type: none;
    display: flex;
}

.footer__icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    background-color: var(--svg-bg-color-black01);
    fill: var(--main-color-on-dark-bg-white);

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon{
    display: inline-block;    
    fill: inherit;
}

.footer__icon-bg:focus,
.footer__icon-bg:hover{
    fill: var(--main-bg-color-white);
    background-color: var(--brand-color-blue);
}
/* ----- powyższ eokreślone jako round-btn ----- */
/* ----- 3-rd footer item - Form - ----- */

.footer-form{
    max-width: 570px;
    height: 50px;
    flex:2;
}

.footer-form__grid{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:12px;
}
.footer-form__input{
    width: 350px;
    height: 50px;
    padding: 10px;
    border-radius: 4px; 
    border: 1px solid var(--second-color-on-dark-bg-white-a03);

    font-size: 16px;
    line-height: calc(20/16) px;
    letter-spacing: 0.03em;
    text-align: left;

    color: var(--second-color-dark-bg-white-06a);
    border-color: var(--second-color-on-dark-bg-white-a03);
    background-color: var(--dark-bg-color-black1);

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:hover,
.footer-form__input:focus{
    border-color: var(--brand-color-blue);
}

.btn__grid{
    padding: 10px 26px 10px 42px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    
}
.btn__icon{
    display: inline-block;
    fill: var(--main-bg-color-white);
}

/* ----- ------------------------------ ----- */
/* ----- MAIN PAGE      ----- */
/* ----- ------------------------------ ----- */
/* ----- Section  - ORDER - ----- */
/* section ./header, witout class section, ----- */
/* to jest element bloku typu header */
.order__slogan {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--main-color-on-dark-bg-white); 
}

/* ----- ----------------------------------------------------------- ----- */
/* ----- MODAL window                         ----- */
/*.order__btn{
   
} */

.button {
    display: block;
    
    width: 200px;
    height: 50px;
    border-style: none;
    border-radius: 4px;
    
    background-color: var(--brand-color-blue);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    
    color: var(--main-color-on-dark-bg-white);
    cursor: pointer;
    
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.4);
    
    transition-property: visibility, opacity, transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal {
    position: fixed;
    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: var(--main-bg-color-white);
    border-radius: 4px;
    box-shadow: 0px 1px 3px var(--dark-bg-color-black1),
      0px 1px 1px var(--second-color-dark-grey),
      0px 2px 1px var(--svg-color-lgrey);
}
  
.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    /*transform: translateX(50%) translateY(-50%) scale(0.5) rotate(0deg) skew(10deg, 10deg);*/
}

.modal__btn-close{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    top: 17px;
    right: 17px;
    
    width: 30px;
    height: 30px;
    border-radius: 50px;
    
    background-color: var(--main-bg-color-white);
    border-color: var(--border-color-white2);
    padding: 0px;
    margin: 0px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal__btn-close:hover,
.modal__btn-close:focus {
    background-color: var(--brand-color-blue);
}

/* ----- Block: form  ----- */

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
   
    width: auto;
    margin-top: 12px;
    background-color: var(--main-bg-color-white);

    /*  border-radius: 4px;
    box-shadow: 0px 1px 3px var(--dark-bg-color-black1),
      0px 1px 1px var(--second-color-dark-grey),
      0px 2px 1px var(--svg-color-lgrey);*/
}


.form__header{
    display: block;
    
    font-size: 20px;
    font-weight: 700;
    line-height: (23/20)px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color-black);
}

.form__label{
    font-size: 12px;
    line-height: calc(14/12) px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--second-color-dark-grey);
    margin-top: 10px;
}

.form__item{
    display: flex;
    justify-content: flex-start; 
        
    width: 448px;
    height: auto;
    border-radius: 4px;
    border: 1px solid var(--border-color-black-02);
    padding: 11px 12px;
    margin-top: 4px;
    border-color: var(--border-color-black-02);
    color: var(--main-color-black);
    fill: var(--main-color-black);

    transition-property: border-color, fill, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon{
    display: flex;
    justify-content: center;
    align-items: center;
        
    width: 18px;
    height: 18px;
    text-decoration: none;
    fill: inherit;
}
.form__icon-person{
    display: block;
    width: 12px;    
    height: 12px;
    fill: inherit;
}
.form__icon-phone{
    display: block;
    width: 15px;    
    height: 15px;
    fill: inherit;
}
.form__icon-filled_envelope{
    display: block;
    width: 18px;    
    height: auto;
    fill: inherit; 
}

.form__input {
    width: 400px;
    color: var(--main-color-black);
    outline: none;
    border-style: none;
    margin-left: 12px;
}

.form__item:focus,
.form__item:focus-within,
.form__item:hover{
    border-color: var(--brand-color-blue);
    fill: var(--brand-color-blue);
    outline: var(--brand-color-blue);
}

.form__textarea{
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;

    font-size: 12px;
    line-height: (14/12)px;
    letter-spacing: 0.01em;
    text-align: start;

    border-radius: 4px;
    border: 1px solid var(--border-color-black-02);
    border-color: var(--border-color-black-02);
    color: var(--main-color-black);

    transition-property: border-color, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea::placeholder{
    font-size: 12px;
    line-height: (14/12)px;
    letter-spacing: 0.01em;
    text-align: start;
    color: var(--second-color-dark-grey-05);
}
.form__textarea:focus,
.form__textarea:focus-within,
.form__textarea:hover{
    border-color: var(--brand-color-blue);
    outline: var(--brand-color-blue);
}

.form__checkbox {
    margin-top: 20px;
    margin-left: auto;   
    margin-right: auto;
}
.checkbox{
    display: block;
    display: flex;
    justify-content: center;
    width: 420px;
    height: auto;
    position: relative;
    cursor: pointer;
}
.checkbox__input{
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--main-color-black);
    border-radius: 2px;
    margin-right: 8px; 
    fill: var(--main-color-black);
    cursor: pointer;

    transition-property: background-image, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    
    border: none;
}
.checkbox__label{
    display: inline-block;
    font-size: 14px;
    line-height:calc(24/14)px;
    letter-spacing: 0.03em;
    text-align: left;
}

.checkbox__link{
    color: var(--brand-color-blue);
    text-decoration: underline;
}

.form__btn-submit{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);   
}
/* ----- ------------------------------ ----- */
/* ----- FEATURE SECTION - content article--- */
/* ----- section, __short-padding-bottom
/* ----- article __img, __header icon __text 
/* ----- !!! WYMAGA POPRAWY ---------------- ----- */
.article {
    max-width: 270px;
    /*background-color: coral;*/
}
.article__figure {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--second-bg-color-white);

    display: flex;
    justify-content: center;
    align-items: center;   
}
.article__icon {
    display: block;
    width: 65px;
    height: 70px;      
}
.article__title {
    
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align:left;

    margin-bottom: 10px;
}
.article__copy { 
    height: 75px;

    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    text-align: left;

    color: var(--second-color-dark-grey);
}

/* ----- -------------------------- -----*/
/* ----- BLOCK ------ card ----- */

.card {
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    
    max-width: max-content;
    min-height: auto;
    max-height: max-content;

    background-color: var(--main-bg-color-white);
    /* default: border: none; shadow: */
}
.card__offer-card{max-width: 370px;}

.card__img{
    display: block;
}

.card__offer-label{
    position: absolute;
    bottom: 0;
    display: block;
    width: 370px;
    height: 70px;
    padding: 27px 90px;

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16/14)px;
    letter-spacing: 0.03em;
    color: var(--main-color-on-dark-bg-white);
    background: linear-gradient(0deg, var(--svg-bg-color-black01), 0%, var(--dark-bg-color-black08, 50%)) ;
}

.card__team-card {
    max-width: 270px;
    min-height: auto;
    
    background: var(--main-bg-color-white);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card__body{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 30px 32px;      
}
.card__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;      
}
.card__description {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;

    color: var(--second-color-dark-grey);
}

/* ----- def social media buttons - ---- */



.icons-grid {
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    list-style: none;
}
.icon__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--main-bg-color-white);
    fill: var(--svg-color-lgrey);

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__bg--theme-dark {
    
    background-color: var(--svg-bg-color-black01);
    fill: var(--main-color-on-dark-bg-white);

}

.icon{
    display: inline-block;    
    fill: inherit;
}

.icon__bg:focus,
.icon__bg:hover{
    fill: var(--main-bg-color-white);
    background-color: var(--brand-color-blue);
}


/* ----- ----- ----- ----- ----- -----*/
/* ----- section our client contain below ---- -----*/
/* ----- figure caption, icons list, links ----- ----- -----*/

.icon__big-bg {
    width: 168px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 1px solid var(--svg-color-lgrey);

    fill: var(--svg-color-lgrey);

    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.icon{
    display: inline-block;    
    fill: inherit;  
}
.icon--big{
    width: 100px;
    height: 60px;
   
}
.icon__big-bg:hover,
.icon__big-bg:focus,
.icon--big:hover,
.icon--big:focus {
    fill: var(--brand-color-blue);
    border-color: var(--brand-color-blue);
    
}

/* ----- -------------------------------------------------------------- ----- */
/* ----- Page PORTFOLIO ----- ----- */
/* ----- link ./portfolio.html------------------------------------ */
/* ----- portfolio page -------------------------------------------------------------- ----- */

.button {
    display: block;
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
}

.button__order {
    width: 200px;
    height: 50px;
    
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-color-on-dark-bg-white);
    background-color: var(--brand-color-blue);

    transition-property: transform;
}

.button__portfolio {
    height: 38px;
    width:max-content;
    padding: 6px 22px;

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--main-color-black);
    background-color: var(--second-bg-color-white);
    
    transition-property: background-color, color;
}


.button__portfolio:hover,
.button__portfolio:focus,
.button__portfolio:active {
    /*position: relative;
    top: -10px;*/
    
    background-color: var(--brand-color-blue);
    color: var(--main-color-on-dark-bg-white);

        /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
}


/* ----- ---------- ---------- ----- */
/* ----- 1st. Section - PORTFOLIO   ----- */
/* ----- 
/* ----- flex wrap 3/row */
/* ----- dodać/ustalić l-grid__card -----*/

.card--theme-light {
    background-color: var(--1st-main-bg-color);
}    
.card__portfolio {
    transition-property: box-shadow;
}

.card__portfolio:hover,
.card__portfolio:focus,
.card__portfolio:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__header {
    position: relative;
    display: block;
    width: 370px;
    height: 294px;

    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-color-blue-a09);

    transform: translateY(100%);
    transition-property: transform;
    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.card__portfolio:hover .overlay {
    transform: translatex(0);   
}

.portfolio-card__description {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    text-align: left;
    
    padding: 49px 45px 49px 24px;
    margin: 0;

    color: var(--main-color-on-dark-bg-white);
}

.portfolio-card__body {
    max-width: 370px;
    padding: 15px 24px 20px;

    border-left: 1px solid var(--border-color-white2);
    border-right: 1px solid var(--border-color-white2);
    border-bottom: 1px solid var(--border-color-white2);
}
.portfolio-card__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--main-color-black);
    margin-bottom: 4px;
}
.portfolio-card__label {
    
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--second-color-dark-grey);
}

.test-area{
    width: auto;
    height: 200px;
    background-color: blue;
    background-image: url(./images/backgroung_icons.svg#icon-person);
    fill: black;
    /*url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6C7.6575 6 9 4.6575 9 3C9 1.3425 7.6575 0 6 0C4.3425 0 3 1.3425 3 3C3 4.6575 4.3425 6 6 6ZM6 7.5C3.9975 7.5 0 8.505 0 10.5V11.25C0 11.6625 0.3375 12 0.75 12H11.25C11.6625 12 12 11.6625 12 11.25V10.5C12 8.505 8.0025 7.5 6 7.5Z'/%3E%3C/svg%3E");*/
      
    
}