/*$colorsPalette: (
'brand-blue': rgb(33, 150, 243, 1),
'brand-blue-a09': rgb(33, 150, 243, 0.9),

'black-main':rgb(33, 33, 33,1),
'black-main-a02': rgba(33, 33, 33, 0.2),
'black-sec': rgb(47, 48, 58),
'black-default': black,

'grey-main': rgb(117, 117, 117),
'grey-main-a05': rgb(117, 117, 117, 0.5),
'grey-sec': rgb(174, 176, 183),

'white-default': white,
'white1': rgb(245, 244, 250),
'white2': rgb(238, 238, 238),
'white3'

'white-default-a01': rgba(255, 255, 255, 0.1),
$secPaletteClWhite: rgb(238, 238, 238),
@function getColorPalette($key) {
    @return map-get($colorsPalette, $key);
}
);*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(33, 33, 33);
  background-color: white;
}

ul,
li {
  margin-block: 0px;
  -webkit-padding-start: 0p;
          padding-inline-start: 0p;
  margin: 0px;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.list-style {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: rgb(33, 33, 33);
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
}
.link:hover, .link:active, .link:focus {
  color: rgb(33, 150, 243);
}

.transition {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----- page layout ----- */
/* ----- - division by sections, display container and grid ----- */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__bg-img {
  width: auto;
  height: 600px;
  margin: 0, auto;
  background-position: center;
  background-color: rgb(47, 48, 58);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.6)), to(rgba(47, 48, 58, 0.4))), url(../images/heder-banner-opt-people-teams-at-work-.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.4)), url(../images/heder-banner-opt-people-teams-at-work-.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}
.section--bottom-padding-short {
  padding-bottom: 0px;
}
.section--bg-light-theme {
  margin-left: auto;
  margin-right: auto;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
  background-position-x: center;
  background-color: rgb(245, 244, 250);
}
.section__header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  /*background-color: aquamarine;*/
}
.section__header-big {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: white;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.l-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 30px 30px;
  list-style-type: none;
}
.l-grid__page-header {
  height: 80px;
}
.l-grid--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.l-grid--direction-column {
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-header {
  background-color: white;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.page-header__logo {
  margin-right: 63px;
}
.page-header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.nav__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
}
.nav__link {
  margin: 0px 3px;
}

.contact {
  /*display: flex;*/
  padding: 0px 10px;
}
.contact__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.contact_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  cursor: pointer;
  color: rgb(117, 117, 117);
  fill: rgb(117, 117, 117);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.contact_item:hover, .contact_item:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}
.contact__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.contact__icon-mail {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: inherit;
  /*var(--second-color-dark-grey);*/
}
.contact__icon-mail:hover, .contact__icon-mail:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}
.contact__icon-tel {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  fill: inherit;
  /*var(--second-color-dark-grey);*/
}
.contact__icon-tel:hover, .contact__icon-tel:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.logo {
  display: inline-block;
}
.logo__logotype {
  text-decoration: none;
  font-family: "Raleway", "Oleo Script", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo__logotype--brand-color {
  color: rgb(33, 150, 243);
}
.logo__logotype--dark-theme {
  color: black;
}
.logo__logotype--light-theme {
  color: white;
}

.order__slogan {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
}

.order__slogan {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
}

.order__slogan {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
}/*# sourceMappingURL=main.css.map */